<h1>Pedido - Contador</h1>

<p>Monte seu lanche e faça seu pedido aqui :)</p>

<label for="oper">Selecione o lanche:</label>
<select name="oper" id="selectBurguer">
  <option value="1">Montar meu lanche</option>
  <option value="2">X-Bacon</option>
  <option value="3">X-Burger</option>
  <option value="4">X-Egg</option>
  <option value="5">X-Egg Bacon</option>
</select>
<hr>
<div>
  <h3>Informações importantes</h3>
  <p>*No caso da adição de ingredientes como alface e bacon significa que iremos acrescentar até o triplo da porção</p>
  <p></p>
  <hr>
  <form id="lancheForm">
    <p>Alface: <strong id="qtdAlface">{{ currentAlface }}</strong>
      <button class="btn btn-success" id="btnAddAlface" (click)="incrementAlface()">add</button>
      <button class="btn btn-danger" id="btnDelAlface" (click)="decrementAlface()">remove</button>
    </p>
    <p>Bacon: <strong>{{ currentBacon }}</strong>
      <button class="btn btn-success" id="btnAddBacon" (click)="incrementBacon()">add</button>
      <button class="btn btn-danger" id="btnDelBacon" (click)="decrementBacon()">remove</button>
    </p>
    <p>Hamburguer de carne: <strong>{{ currentHamburguerCarne }}</strong>
      <button class="btn btn-success" id="btnAddHamburguerCarne" (click)="incrementHamburguerCarne()">add</button>
      <button class="btn btn-danger" id="btnDelHamburguerCarne" (click)="decrementHamburguerCarne()">remove</button>
    </p>
    <p>Ovo: <strong>{{ currentOvo }}</strong>
      <button class="btn btn-success" id="btnAddOvo" (click)="incrementOvo()">add</button>
      <button class="btn btn-danger" id="btnDelOvo" (click)="decrementOvo()">remove</button>
    </p>
    <p>Queijo: <strong>{{ currentQueijo }}</strong>
      <button class="btn btn-success" id="btnAddQueijo" (click)="incrementQueijo()">add</button>
      <button class="btn btn-danger" id="btnDelQueijo" (click)="decrementQueijo()">remove</button>
    </p>

  </form>
</div>

<hr>
<div>
  <h1>Valor: R$<span
      id="totalValue">{{ calcValor() }}</span>
  </h1>
</div>

<button class="btn btn-primary" id="sendOrder">Fazer Pedido</button>
