<table class='table'>
  <thead>
    <tr>
      <th>Lanche</th>
      <th>Ingredientes</th>
    </tr>
  </thead>
  <tbody id="cardapio">
    <tr *ngFor="let itens of hamburguers">
      <td>{{ itens.titulo }}</td>
      <td>{{ itens.descricao }}</td>
    </tr>
  </tbody>
  <hr>
  <tr>
    <th>Ingredientes</th>
    <th>Preço por ingrediente</th>
  </tr>
  <tbody id="ingredientes">
    <tr *ngFor="let itens of ingredientes">
      <td>{{ itens.titulo }}</td>
      <td>{{ itens.valor }}</td>
    </tr>
  </tbody>
</table>